html {
    background-color: rgb(166, 210, 255);
  }
.link {
    text-align: center;
    padding: 20px 20px 20px 20px;
    border: 4px solid rgb(0, 24, 92);
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 25px;
    margin: 0;
}  